<div class="bg-light">
    <div class="container px-5 pt-4 pb-3">
        <div class="social-nav border-bottom d-flex flex-column flex-md-row align-items-center justify-content-center gap-md-3 ">
            <a class="nav-link" href="mailto:Muhammed.masry21@gmail.com">Muhammed.masry21@gmail.com</a>

            <a class="nav-link" href="tel:+201204604652">+201204604652</a>

            <ul class="navbar-nav d-flex flex-row gap-3 ms-md-auto">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.fb.com/m7md.masry"><i
                            class="fa-brands fa-facebook fs-5"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/mohamed-e-ahmed/"><i
                            class="fa-brands fa-linkedin fs-5"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/MohamedMasry"><i
                            class="fa-brands fa-github fs-5"></i></a>
                </li>
            </ul>
            
        </div>
        <p class="text-center mt-3">Copyright © 2024 <a href="https://www.linkedin.com/in/mohamed-e-ahmed/" target="_blank">Mohamed E. Salem</a>.</p>
    </div>
</div>