<nav class="navbar navbar-expand bg-white ">
    <div class="container position-relative">
        <div class=" w-100 d-flex flex-column flex-sm-row justify-content-between align-items-center">
            <a class="navbar-brand " routerLink="/home">Clients</a>


        </div>
    </div>
</nav>

<div class="container">
    <div class="product-details bg-light w-75 py-5 pt-4 px-5 px-md-3 px-lg-5 mx-auto position-relative"
        *ngIf="userDetails else wrongID">
        <div class="section-title mb-3">User Details</div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img [src]="userDetails.avatar" alt="" class="w-100 rounded-4 shadow-sm+">
                </div>
            </div>
            <div class="col-md-8">
                <div class="h-100 d-flex  align-items-center">
                    <div class="product-container mt-4 mt-md-0">
                    
                        <h5 class="card-title">{{userDetails.first_name + ' ' + userDetails.last_name}}</h5>
    
                        <div class="details-container">
                            <ul>
                                <li><span>First Name :</span> {{userDetails.first_name}}</li>
                                <li><span>Last Name :</span>  {{userDetails.last_name}}</li>
                                <li><span>E-Mail :</span> <a [href]="'mailto:'+userDetails.email"> {{userDetails.email}}</a></li>
    
                            </ul>
    
                        </div>
                        <div>
                            <button class="btn btn-main" [routerLink]="['/home']" routerLinkActive="router-link-active" >Back</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <ng-template #wrongID>
        <div class="text-center d-flex flex-column justify-content-center align-content-center">
            <h6 class="h1">Are You sure with this user id ? ... </h6>
        </div>
    </ng-template>
</div>